* { margin: 0px; padding: 0px; box-sizing: border-box; }

body { 

    --color1: #3a3a3a;
    --color1-dark: black;
    --color1-bright: ;

    --color2: #d6d6d6;
    --color2-dark: ;
    --color2-bright: #ffffff;

    --font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font2: Cambria, Georgia, serif;

    --border-radius: 3px;

    --poster-w1: 6.2rem;
    --poster-h1: calc(var(--poster-w1)*1.5);
    --poster-w2: 4rem;
    --poster-h2: calc(var(--poster-w2)*1.5);

    --gap1: 0.5rem;
    --gap2: 1rem;
    --gap3: 2rem;

    --button-h1: 1.75rem;

    --scrollbar-w: 0.5rem;

/* ------------------------------------------------------------ */

    background-color: var(--color1);
    overflow-y: scroll;
    overflow-x: hidden;
}

a { text-decoration: none; }

ul { list-style: none; }

button { border: none; }

section { width: 100%; display: flex; flex-direction: column; align-items: center; }

h2 { text-transform: uppercase; letter-spacing: 0.3rem; }

.button {
    height: var(--button-h1);
    width: max-content;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color2);
    border-radius: var(--border-radius);

    font-family: var(--font1);
    text-align: center;
    font-size: calc(var(--button-h1)*0.5);
    color: var(--color-primary);
    font-weight: bolder;
    text-transform: uppercase;
    white-space: nowrap;

    padding-right: var(--gap1);
    padding-left: var(--gap1);

    overflow: hidden;

    transition: background-color ease 0.6s;
}

.button:hover {
    background-color: var(--color2-bright);
    cursor: pointer;
}

header {
    width: 100%;
    height: max-content;

    display: flex; 
    align-items: center;

    padding: var(--gap1);
}

footer {
    width: 100%;
    height: max-content;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--gap2);
    column-gap: var(--gap2); 

    border-top: 1px solid var(--color2);
}

nav { 
    width: 100%;

    display: flex; 
    justify-content: flex-end; 
    align-items: center;

    column-gap: var(--gap2);
}

#search_form {
    display: flex;

    background-color: var(--color1-dark);
    border-radius: var(--border-radius);
    padding: var(--gap1);
    column-gap: var(--gap1);
}

/* .icon.star {
    background-color: var(--color1);
    -webkit-mask: url(icon/star.svg) no-repeat center;
    mask: url(icon/star.svg) no-repeat center;
} */

.sub_header {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--gap1);
    
    border-top: 1px solid var(--color2);
    border-bottom: 1px solid var(--color2);

    font-family: var(--font1);
    color: var(--color2);
}

.poster_list.horizontal {
    width: calc(var(--poster-w1)*8);
    height: max-content;

    display: flex;
    align-items: center;

    column-gap: var(--gap2);

    margin: var(--gap3);
}

.poster_container {
    height: max-content;

    display: flex;
    flex-direction: column;

    border-radius: var(--border-radius);
    border: 1px solid var(--color2);
}

.poster_container > :first-child { width: var(--poster-w1); height: var(--poster-h1); }

.activity_info {
    width: 100%;
    height: max-content;
}

.activity_info > div { width: var(--poster-w1); height: calc(var(--poster-h1)/6); display: flex; background-color: red; }
.activity_info > div:nth-child(2) { background-color: green;}

::-webkit-scrollbar { width: var(--scrollbar-w); }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: var(--color2); border-radius: calc(var(--scrollbar-w)/2); transition: background-color ease 0.2s; }
::-webkit-scrollbar-thumb:hover { background-color: var(--color2-bright); }